/* HeroPage.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #7e6b33; /* Lighter shade of #5f4c22 */
    background-image: url('./mountainsv5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
  }

.lower-header {
    display: flex;
    background-color: white;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    justify-content: center;
    align-items: center;

}

.lower-header-item {
    padding: 10px;
    border-radius: 10px;
    background-color: #ebc36c;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 2%;
    transition: 0.3s;
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;
}
  

  .page-section {
    flex: 1; /* Each page section takes equal space */
    margin-right: 20px; /* Adjust the margin between page sections */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    position: relative;
  }

  
  
  .logo-container {
    width: 80px; /* Set the width of your logo container */
    height: 80px; /* Set the height of your logo container */
    background-image: url('./mountain-logo.png'); /* Replace with the actual path to your logo image */
    background-size: cover;
    order: 2;
  }

  .cart-container{
    width: 30px; /* Set the width of your logo container */
    height: 30px; /* Set the height of your logo container */
    background-image: url('./order.png'); /* Replace with the actual path to your logo image */
    background-size: cover;
    order: 3;
    color: #ebc36c;
    cursor: pointer;
  }
  
  .search-container {
    order: 1; /* Each page section takes equal space */
    margin-right: 20px; /* Adjust the margin between page sections */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
    position: relative;
    /* color: #ebc36c; */
  }

.searchBox {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: #ebc36c;
    color: #7e6b33;
    font-weight: bold;
    flex-grow: 0;
}

@keyframes searchAnimation {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.search-container input {
    animation: searchAnimation 0.5s ease-in-out;
}

/* AdBanner.css */

.ad-banner {
    width: 100%;
    height: 100%;
  }
  
  .ad-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
  }

  .AdBanner.right img {
    transform: translateX(-100%);
  }
 
.mobile-cart-icon {
    max-width: 60px; /* Set the width of your logo container */
    height: 60px; /* Set the height of your logo container */
    margin-right: 19px;
}

.arrow-icon {
    width: 30px; /* Set the width of your logo container */
    height: 30px; /* Set the height of your logo container */
    background-size: cover;
    margin-right: 19px;
}

.receiver-icon {
    width: 67.5px; /* Set the width of your logo container */
    height: 67.5px; /* Set the height of your logo container */
    background-size: cover;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.instructions {
    height: 10%;
    background-color: #FAE4BC;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
}

.instructions-text {
  font-size: 20px;
  font-weight: bold;
  color: #7e6b33;
  text-align: center;
}

.left-text {
    display: flex;
    flex-direction: column;
}

/* ScrollPopup.css */

.scroll-popup {
  position: fixed;
  top: 0; /* Change to top: 0; initially */
  left: 50%;
  min-width: 80%;
  transform: translateX(-50%) translateY(-100%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease; /* Animation transition */
}

.scroll-popup.visible {
  transform: translateX(-50%) translateY(0);
  min-width: 80%;
  opacity: 1;
}

 
.banner {
  height: 10%;
  background-color: #FAE4BC;
  display: flex;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-grow: 0;
}


.pickup-button {
  padding: 20px;
  border-radius: 10px;
  background-color: #ebc36c;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: 2%;
  transition: 0.3s;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
}

.banner-text {
  padding-right: 40%;
}

.banner-text-body {
  font-size: 15px;
  text-align: center;
}

.banner-text-header {
  font-size: 20px;
  font-weight: bold;
  color: #7e6b33;
  text-align: center;
}

.pickup-button:hover {
  cursor: pointer;
}

/* ProductCard.css */

.product-card {
  width: 20%;
  min-height: 60%;
  background-color: #f8f4e2;
  border: 1px solid #ccc;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card-image {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-card-image img {
  max-width: 200px; /* Ensure the image doesn't exceed the container width */
  max-height: 200px; /* Ensure the image doesn't exceed the container height */
  object-fit: cover; /* Maintain aspect ratio and fit within the container */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  aspect-ratio: 1/2;
}

.product-card-info {
  object-fit: cover;
  padding: 5%;
  padding-top: 1%;
  color: #7e6b33; /* Dark brown for the title */
}

.product-card-body {
  color: #888; /* Set a light grey color */
  font-size: 14px; /* Set the desired font size */
}

.previous-price {
  text-decoration: line-through;
  padding-left: 4%;
}

.product-card-price {
  font-weight: bold;
  color: #7e6b33;
  display: flex;
  padding-bottom: 2%;
}

.product-card-button {
  padding: 20px;
  border-radius: 10px;
  background-color: #ebc36c;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  max-width: 80%;
  height: 2%;
  transition: 0.3s;
  align-self: center;
  justify-self: center;
}

.product-card-button:hover {
  background-color: #d9aa43; /* Darker mustard yellow on hover */
  cursor: pointer;
}

.header-line {
  width: 100%; /* Set the width to 100% to span the entire container */
  height: 1px; /* Set the height of the line */
  background-color: #000; /* Set the color of the line (you can use any color) */
}

.header-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  flex-grow: 0;
  margin-left: 15%;
  margin-right: 15%;
}

.header-text{
  font-size: 20px;
  font-weight: bold;
  color: #7e6b33;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.bottles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5%;
  flex-grow: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: -100%; /* Initially off-screen */
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 20px;
  z-index: 1;
  opacity: 0;
  transition: right 0.5s ease-in-out; /* Add transition for fade effect */
  pointer-events: none; /* Disable pointer events by default */
  width: 35vh;
}

.cart-drawer.open {
  right: 0; /* Slide in when open */
}

.cart-drawer h2 {
  margin-bottom: 10px;
}

.cart-drawer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-drawer li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.heroPage.cart-open {
  margin-right: 38vh; /* Adjust the margin to slide the main content to the left */
  margin-left: -38vh;
}

.heroPage {
  transition: margin 0.5s ease-in-out; /* Add transition for smooth slide effect */
}

.cart-drawer.open {
  right: 0; /* Slide in when open */
  opacity: 1;
  pointer-events: auto; /* Enable pointer events when the cart is open */
}


.cart-item {
  display: flex;
  align-items: center;
}
.cart-item-image {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.cart-item-image img {
  max-width: 100%; /* Set the maximum width to 100% of the container */
  max-height: 100%; /* Set the maximum height to 100% of the container */
  object-fit: contain; /* Maintain aspect ratio and fit within the container */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  aspect-ratio: 1/2;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.quantity-btn {
  background-color: #ebc36c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
}

.quantity-text {
  font-size: 16px;
  margin: 0 5px;
}

.cart-footer {
  flex-direction: column; /* Display the children elements in a column */
  align-items: flex-end; /* Align items to the end of the container */
}

.cart-total {
  display: flex;
  justify-content: space-between;
}

.cart-total-text {
  font-size: 20px;
  font-weight: bold;
}

.cart-total-price {
  font-size: 20px;
  font-weight: bold;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

/* LogoCarousel.css */

.logo-carousel {
  position: relative;
  overflow: hidden;
}

.viewport {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.logo {
  width: 200px; /* Set a fixed width for the logos */
  height: 200px; /* Adjust the height as needed */
  object-fit: contain; /* Maintain aspect ratio and fit within the container */
  margin: 20px;
}
